langchain
langchain-openai
python-dotenv
pydantic[email]
streamlit
langchain_google_genai
langchain_huggingface
transformers
langchain-community
langchain-core
grandalf
pypdf
langchain-text-splitters
langchain_experimental
chromadb
tiktoken
openai
langchain-chroma>=0.1.2